.card {
  align-items: center;
  border: 1px solid #000;
  color: #000;
  display: flex;
  justify-content: space-around;
  height: 388px;
  margin: 0.8em;
  width: 720px;
}

.img-product {
  height: 300px;
  width: 300px;
}

.img-product img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.product-content {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
}

.product-content h3 {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.btn-add-cart {
  background-color: #ff90ae;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  height: 78px;
  width: 300px;
  cursor: pointer;
}

.product-content div {
  display: flex;
  justify-content: space-between;
}

.product-content h3,
.product-content p {
  color: #000;
}

.btn-in-de {
  background-color: #ece7e7;
  width: 157px;
}

#increaseBtn,
#decreaseBtn {
  background-color: #d3cfcf;
  cursor: pointer;
  width: 47px;
}

.swal2-small {
  width: 200px;
  height: auto;
  padding: 10px;
}

.swal2-title-small {
  color: #ff90ae;
  font-size: 15px;
  padding: 0;
}
