.cart-modal {
  position: fixed;
  top: 50%;
  right: -90px;
  transform: translate(0, -50%);
  z-index: 1000;
  margin-top: 7em;
}

.cart-content {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 2em;
  width: 80%;
  max-width: 750px;
  overflow-y: auto;
  position: relative;
  max-height: 100vh;
  padding-bottom: 9em;
}

.close {
  background-color: #ece7e7;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.close:hover {
  background-color: #ff90ae;
  color: #fff;
  padding: 0.2rem 0.6rem;
}

.shopping-cart-content .logo {
  margin: 1.5rem;
}

.title-shop-cart {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-shop-cart span {
  color: #ff90ae;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.total-shop-cart {
  background-color: #ece7e7;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.total-shop-cart p {
  margin: 10px;
}

.btn-finalize {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.btn-finalize a {
  background-color: #ff90ae;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #808080;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-finalize a:hover {
  background-color: #f89eb6;
  padding: 13px 31px;
}
