.main-contacts {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 9em;
}

.content-contacts {
  align-items: center;
  background-color: #ffe5deed;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 2em;
  padding: 3em;
}

.contacts {
  align-self: center;
  color: #242424;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.contacts img {
  animation: sway 4s ease-in-out infinite;
  align-self: center;
  width: 280px;
  margin-bottom: 1.5em;
}

.contacts .i {
  color: #dc6786;
  font-size: 30px;
  margin-right: 1em;
}

.contacts p,
.contacts div {
  margin: 0.2em 0em;
}

@keyframes sway {

  0% {
    transform: rotateZ(-2deg);
  }

  50% {
    transform: rotateZ(2deg);
  }

  100% {
    transform: rotateZ(-2deg);
  }
}


.social-contacts {
  align-self: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
}

.social-contacts a {
  color: #dc6786;
  margin: 0.4em 0em;
}

.social-contacts a:hover {
  color: #e42255;
}

.form-container {
  background-color: #ffe5deed;
  border-radius: 20px;
  width: 600px;
  margin: 1em;
  padding: 2em;
  color: #242424;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #dc7993;
}

.form-container form {
  padding: 20px;
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-container textarea.form-input {
  height: 100px;
}

.form-container .form-button {
  background-color: #dc6786;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.form-container .form-button:hover {
  background-color: #dc7993;
}
