.navbar {
  background-color: #000;
  color: #fff;
  left: 0;
  right: 0;
  padding: 1.3em;
  position: fixed;
  top: 3em;
  z-index: 1000;
}

.navbar ul {
  font-weight: bold;
  padding: 0;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

}

.navbar li {
  display: inline-block;
  margin-right: 2em;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}
