.products-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8em 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.search-input {
  margin: 3em;
  position: relative;
}

.search-input input {
  padding-left: 60px;
  border: 1px solid #000000de;
  border-radius: 5px;
  height: 50px;
  width: 1000px;
  font-size: 16px;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}
